<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= title %>
        </title>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Perguntas</h1>
            <p>Este é um projeto criado para fins acadêmicos.</p>
            <p>Uma vez que o autor seja creditado ele pode ser reutilizado para qualquer propósito :)</p>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>