<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= title %>
        </title>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <form method="post">
                <div class="form-group">
                    <label>Nome <small>(obrigatório)</small></label>
                    <input type="text" name="name">
                </div>
                <div class="form-group">
                    <label>Senha <small>(obrigatório)</small></label>
                    <input type="password" name="password">
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>